/* Ana düzen */
.loginMain {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f6f8;
}

/* Form kapsayıcı */
.loginContainer {
  width: 100%;
  max-width: 400px;
  background-color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 32px;
  text-align: center;
}

/* Başlık ve ikon */
.titleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.icon {
  font-size: 1.8rem;
  color: #1976d2;
}



/* Mobil uyumlu */
@media (max-width: 768px) {
  .loginContainer {
    width: 90%;
    padding: 24px;
  }
}
